button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}
input,
textarea,
select {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="text"],
input[type="url"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="date"],
input[type="time"],


textarea {
  font-size: 1.1em;
  padding: 2px;
  margin: 10px 10px 10px 0px;
  vertical-align: middle;
  border-radius: 2px;
  background-color:aliceblue;
}

input .container {
  width: 100%;

}


label {
  display: block;
}

.container {
  max-width:
  200px;
}

.szachmat, .image-ch {
  display: flex;
 }

 .szachmat input[type="checkbox"] {
   margin:0;
   opacity:0;
   width: 0;
 }

 .szachmat input[type="checkbox"] + label{
  border: 2px solid burlywood;
  background-color:cornsilk;
  padding:4px, 10px;
  border-radius: 7px;
  display: inline-block;
  width: 4em;
  text-align: center;

}

.szachmat input[type="checkbox"]:checked + label{
  border-color: darkorchid;
  background-color: violet;
}


.image-ch input[type="checkbox"] + label {

  }

.image-ch input[type="checkbox"] {
  opacity:0;

}

.image-ch input[type="checkbox"] + label {
  background: url('icon1.png') left center no-repeat;
  background-size: 1.5em 1.5em;
  padding-left: 1.5em;

}

.image-ch input[type="checkbox"]:checked + label {
  background: url('icon2.png') left center no-repeat;
  background-size: 1.5em 1.5em;
  padding-left: 1.5em;

}